@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #282828;
  color: var(--foreground);
}

[data-theme="dark"] {
  --background: #282828;
  --foreground: #ffffff;
  color: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: url(#round);
}

.custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--foreground);
  clip-path: polygon(
    36.4% 0.5%,
    65.8% 21.5%,
    100% 22.5%,
    100.1% 100.3%,
    12.2% 99%,
    7.9% 62.8%,
    0% 51.8%,
    0% 0%
  );
}
